interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pinterest.com/v1/me?access_token=DUMMY
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to target URL: <a href="https://api.pinterest.com/v1/me/?access_token=DUMMY">https://api.pinterest.com/v1/me/?access_token=DUMMY</a>.  If
        not click the link.'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.pinterest.com/v1/me/?access_token=DUMMY
      X-CDN:
      - akamai
      pinterest-generated-by:
      - coreapp-ngapi-prod-0a010410
      x-pinterest-rid:
      - '6767639278618281'
    status:
      code: 308
      message: Permanent Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pinterest.com/v1/me/?access_token=DUMMY
  response:
    body:
      string: "{\n  \"message\": \"You have exceeded your rate limit. Try again later.\",
        \n  \"type\": \"api\"\n}\n"
    headers:
      Content-Type:
      - application/json
      X-CDN:
      - akamai
      X-RateLimit-Limit:
      - '1'
      X-RateLimit-Remaining:
      - '0'
      pinterest-generated-by:
      - coreapp-ngapi-prod-0a01cbf7
      x-pinterest-rid:
      - '2217731158654015'
      x-ratelimit-refresh:
      - '523'
    status:
      code: 429
      message: Too Many Requests
version: 1
