# Temporary build files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
sdist/
dist/
build/

# Temporary unit test files
htmlcov/
.tox/
.coverage
docs/_*

# Virtual environmenments
venv?/

# project files
.vscode/