interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pinterest.com/v1/board/485262997288961007/sections?access_token=DUMMY&fields=id%2Ctitle&limit=100
  response:
    body:
      string: 'b''<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>Redirecting...</title>\n<h1>Redirecting...</h1>\n<p>You
        should be redirected automatically to target URL: <a href="https://api.pinterest.com/v1/board/485262997288961007/sections/?limit=100&amp;fields=id%2Ctitle&amp;access_token=DUMMY">https://api.pinterest.com/v1/board/485262997288961007/sections/?limit=100&amp;fields=id%2Ctitle&amp;access_token=DUMMY</a>.  If
        not click the link.'''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.pinterest.com/v1/board/485262997288961007/sections/?limit=100&fields=id%2Ctitle&access_token=DUMMY
      X-CDN:
      - akamai
      pinterest-generated-by:
      - coreapp-ngapi-prod-0a010669
      x-pinterest-rid:
      - '5943094159256582'
    status:
      code: 308
      message: Permanent Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pinterest.com/v1/board/485262997288961007/sections/?access_token=DUMMY&fields=id%2Ctitle&limit=100
  response:
    body:
      string: '{"data":["<BoardSection 5112670794503201800>","<BoardSection 5111575990144913664>"],"page":{"cursor":null,"next":null}}'
    headers:
      Content-Type:
      - application/json
      X-CDN:
      - akamai
      X-RateLimit-Limit:
      - '1'
      X-RateLimit-Remaining:
      - '0'
      pinterest-generated-by:
      - coreapp-ngapi-prod-0a018f7e
      pinterest-version:
      - 16e084c
      x-pinterest-rid:
      - '6496954350150682'
    status:
      code: 200
      message: OK
version: 1
