interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pinterest.com/v1/me?access_token=DUMMY&fields=id%2Cusername%2Cfirst_name%2Clast_name%2Cbio%2Ccreated_at%2Ccounts%2Cimage%2Caccount_type%2Curl&limit=100
  response:
    body:
      string: 'b''<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>Redirecting...</title>\n<h1>Redirecting...</h1>\n<p>You
        should be redirected automatically to target URL: <a href="https://api.pinterest.com/v1/me/?fields=id%2Cusername%2Cfirst_name%2Clast_name%2Cbio%2Ccreated_at%2Ccounts%2Cimage%2Caccount_type%2Curl&amp;access_token=DUMMY&amp;limit=100">https://api.pinterest.com/v1/me/?fields=id%2Cusername%2Cfirst_name%2Clast_name%2Cbio%2Ccreated_at%2Ccounts%2Cimage%2Caccount_type%2Curl&amp;access_token=DUMMY&amp;limit=100</a>.  If
        not click the link.'''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.pinterest.com/v1/me/?fields=id%2Cusername%2Cfirst_name%2Clast_name%2Cbio%2Ccreated_at%2Ccounts%2Cimage%2Caccount_type%2Curl&access_token=DUMMY&limit=100
      X-CDN:
      - akamai
      pinterest-generated-by:
      - coreapp-ngapi-prod-0a01c807
      x-pinterest-rid:
      - '1699603818807412'
    status:
      code: 308
      message: Permanent Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pinterest.com/v1/me/?access_token=DUMMY&fields=id%2Cusername%2Cfirst_name%2Clast_name%2Cbio%2Ccreated_at%2Ccounts%2Cimage%2Caccount_type%2Curl&limit=100
  response:
    body:
      string: '{"data":{"id":"485263066007653091","username":"thefriendlycoder","first_name":"Kevin","last_name":"","bio":"Interesting
        reference links","created_at":"2015-03-01T02:57:37","counts":{"boards":31,"pins":46975,"followers":196,"following":3773},"image":{"60x60":{"url":"https://s.pinimg.com/images/user/default_60.png","width":60,"height":60}},"account_type":"individual","url":"https://www.pinterest.com/thefriendlycoder/"}}'
    headers:
      Content-Type:
      - application/json
      X-CDN:
      - akamai
      X-RateLimit-Limit:
      - '1'
      X-RateLimit-Remaining:
      - '0'
      pinterest-generated-by:
      - coreapp-ngapi-prod-0a01c7e3
      pinterest-version:
      - 71bea45
      x-pinterest-rid:
      - 0153006180028038
    status:
      code: 200
      message: OK
version: 1
